@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --fonte2: "Caveat", cursive;
}


* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 18px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

.imagem#img01 {
    background-image: url(/materiais/imagens/background001.jpg);
    background-position: right center;
}

.imagem#img02 {
    background-image: url(/materiais/imagens/background002.jpg);
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.482);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 2px 0px black;
    border-radius: 5%
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: red;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-variant: small-caps;
    padding: 10px;

}